.sidebarMainContainer{
   /* border: 2px solid green; */
    width: 20%;
    border-radius: 10px;
    background-color: rgb(28, 28, 28);
    height: 98%;
}

.sidebarTopSection{
    height: 15%;
   /* border: 2px solid royalblue; */
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 1rem;
   box-shadow:  1px 1px 15px rgba(0, 0, 0, 0.53);
}

.sidebarTopSection h1 {
    font-size: 1rem;
}

.sidebarTopSection p {
    font-size: 1rem;
}

.sidebarMiddleSection{
    height: 38%;
  /*border: 2px solid red;*/
    overflow-y: scroll;
}

.sidebarMiddleCards{
   /* border: 2px solid red; */
    margin: 1.5rem .5rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgb(43, 43, 43);
}

.sidebarMiddleCards h1{
    font-size: 1rem; 
    margin-bottom: .5rem;
}

.sidebarMiddleCards p{
    font-size: .8rem; 
    margin-bottom: 1rem;
}

.sidebarMiddleCards button{
    padding: .5rem 1rem;
    background-color: aliceblue;
    color: black;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: .9rem;
    font-weight: 700;
}

.sidebarBottomSectionTopContainer{
    padding: 1.3rem;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.sidebarBottomSectionTopContainer p{
    margin: .5rem;
    font-size: .7rem;
}

.sidebarBottomSectionBottomContainer {
   /* border: 2px solid red;  */
    margin-bottom: 1rem;
}
.sidebarBottomSectionBottomContainer p{
    margin: .3rem;
    margin-left: 1.7rem;
    font-size: .8rem;
    font-weight: 700;
}

.sidebarBottomSectionBottomContainer button{
    color: #ffffff;
    border-radius: 50px;
    background-color: #ffffff00;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    outline: none;
    margin-left: 1.7rem;
}