.mainContainer{
  /* border: 2px solid blue; */
  height: 100vh;
}

.mainSectionContentContainer {
  /*  border: 2px solid red; */
    height: 80%;
    justify-content: space-evenly;
    display: flex;
  }
  